/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
* {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 21px;
}
a {
	outline: none;
	text-decoration: none;
}
img {
	border: 0px;
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
}
iframe {
	border: 0;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2%;
	font-weight: normal;
	font-family: 'Noto Sans', sans-serif;
}
body {
	color: #000;
	background-color: #fff;
	font-family: 'Noto Sans', sans-serif;
}
h1 {
	font-size: 2em;
	line-height: normal;
}
h2 {
	font-size: 1.8em;
	line-height: normal;
}
h3 {
	font-size: 1.6em;
	line-height: normal;
}
h4 {
	font-size: 1.4em;
	line-height: normal;
}
h5 {
	font-size: 1.2em;
	line-height: normal;
}
h6 {
	font-size: 1em;
	line-height: normal;
}
::-webkit-input-placeholder {
 color:#000;
}
:-moz-placeholder { /* Firefox 18- */
 color:#000;
}
::-moz-placeholder {  /* Firefox 19+ */
 color:#000;
}
:-ms-input-placeholder {
 color:#000;
}
.nav {
	top: 0;
	left: 20px;
	float: left;
	width: 250px;
	height: 100%;
	position: fixed;
	min-height: 550px;
	z-index: 9999;
}
#overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #ffffff;
	z-index: 0;
	opacity: 0.97;
	-moz-opacity: 0.97;
	khtml-opacity: 0.97;
	filter: alpha(opacity=97);
	-ms-filter: "alpha(opacity=97)";
}
.nav_main {
	width: 90%;
	float: left;
	margin-top: 50px;
	position: relative;
	z-index: 999999;
}
.logo {
	width: 90%;
	float: right;
	margin-top: 25px;
}
.main_menu {
	width: 90%;
	float: right;
	margin-top: 10%;
}
.blog_btm {
	float: left;
	width: 100%;
	padding: 1% 0 5% 0;
	border-bottom: 1px solid #e8e8e8;/*
	text-align: center;*/
}
.blog_Row {
	margin-right: 3%;
	display: inline-block;
}
.blog_Row a {
	color: #000;
	font-size: 0.9em;
}
.blog_Row a:hover {
	color: #000;
}
.tags-links {
	text-transform: capitalize;
}
.icon {
	font-size: 0.75em;
	margin-right: 10px;
}
input, textarea {
	outline: 0;
	margin-bottom: 2.618rem;
	border: 1px solid #e8e8e8;
	-webkit-transition: border-color .3s ease-out;
	transition: border-color .3s ease-out;
	padding: 1.618rem;
	border-radius: 2px;
}
#commentform label {
	vertical-align: top;
}
.comment-respond .form-submit input[type="submit"] {
	display: inline-block;
	width: auto;
	cursor: pointer;
	color: #000;
}
.comment-form input {
	margin-bottom: 5px;
}
.comment-respond input, .comment-respond textarea {
	width: 100%;
}
.comment-list .comment-reply-link, .page .edit-link a, .post-navigation .nav__inner, .site-content .button, .site-content button, .village-form .wpcf7-submit, .village-form input[type="button"], input[type="submit"] {
	background-color: transparent;
	color: #404040;
	padding: .7em 1.45em;
	font-weight: 500;
	text-decoration: none;
	-webkit-transition: background-color .1s ease-in, color .1s ease-in;
	transition: background-color .1s ease-in, color .1s ease-in;
	font-size: .875em;
	outline: 0;
	border: 1px solid #5674B9;
	border-radius: 2px;
	z-index: 100;
	display: inline-block;
}
input[type="submit"]:hover {
	background-color: #5674B9;
}
#wp-comment-cookies-consent {
	width: 2%;
	float: left;
	margin: 4px 2px 0 0;
}
.openCloseBtn {
	float: left;
	width: 100%;
	margin-top: 15px;
	position: relative;
	z-index: 999999;
}
.nav {
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	-ms-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
/* Sidebar menu */
.slidemenu {
	top: 0;
	height: 80%;
	width: 360px;
	left: -400px;
	position: fixed;
	background-color: #000;
	padding: 5% 20px 15% 20px;
	box-shadow: 2px 0 5px #c0c0c0;
	opacity: 0.97;
	z-index: 99999999;
	overflow-x: auto;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	-ms-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
}
.menu-ham, .close-menu {
	float: left;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	z-index: 99999999;
	letter-spacing: 0.1em;
}
.close-menu {
	display: none;
}
#searchform label {
	display: none;
}
#searchform input[type="text"] {
	width: 50%;
	padding: 2%;
}
#searchform input {
	width: 20%;
	-webkit-box-flex: 5;
	-ms-flex: 5;
	flex: 5;
	margin: 0;
	outline: 0;
	border: 1px solid rgba(64, 64, 64, .1);
}
#searchform input[type="button"], #searchform input[type="submit"] {
	color: #fff;
	cursor: pointer;
	background-color: #5674B9;
}
.search-form .search-submit {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 20%;
	border: 0;
	outline: 0;
	display: block;
	max-width: 3rem;
	height: 3.33rem;
	text-align: center;
}
.widget-title {
	color: #fff;
	margin: 5% 0;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
#archives-dropdown-3 {
	width: 70%;
	color: #333;
	margin: 0 auto;
	padding: 10px 20px;
}
.slidemenu a {
	color: #fff;
	font-weight: 400;
	line-height: 28px;
	margin-right: 10px;
}
.tagcloud {
	float: left;
	height: auto;
}
.socialIcons {
	float:left;
	width:100%;
	margin-top:10%;
}
.socialIcons i {
	margin-right:5%;
	color:#000;
}
@media only screen and (min-width:960px) and (max-width:1389px) {
* {
	font-size: 12px;
	line-height: 20px;
}
.nav {
	width: 220px;
	min-height: 500px;
}
}
@media only screen and (min-width:768px) and (max-width:990px) {
* {
	font-size: 11px;
	line-height: 19px;
}
.nav {
	width: 160px;
	min-height: 400px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
@media all and (max-width: 768px) {
* {
	font-size: 12px;
	line-height: 20px;
}
.nav {
	left: 0;
	width: 100%;
	height: auto;
	min-height: 0;
	position: fixed;
}
.nav_main {
	margin-top: 5px;
}
.logo {
	width: 45%;
	float: left;
	margin-left: 5%
}
.main_menu {
	width: 45%;
	margin: 25px 5% 0 0;
}
}
@media only screen and (max-width:767px) {
* {
	font-size: 11px;
	line-height: 19px;
}
.logo {
	margin-top: 0px;
}
.slidemenu {
	width: 200px;
	left: -250px;
	padding: 5% 20px 15% 20px;
}
}
@media only screen and (min-width:480px) and (max-width:767px) {
* {
	font-size: 12px;
	line-height: 20px;
}
.slidemenu {
	width: 250px;
	left: -300px;
	padding: 5% 20px 15% 20px;
}
}
